################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TP3/.vs/TP3
/TP3/TP3/obj
/TP3/TP3/bin/Debug/net5.0
/TP3/CodeFirestTp3/obj
/TP3/CodeFirstTp3/bin/Debug/net5.0
/TP3/CodeFirstTp3/obj
/TP3/CodeFirstTp3/Migrations
/TP3/TP03ClientDonne/bin/Debug
/TP3/TP03ClientDonne/obj/Debug
/TP3/TP3SourceDonne/obj
/TP3/ConferenceHost/obj
/TP3/WcfServiceConference/bin/Debug
/TP3/WcfServiceConference/obj/Debug
