################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TP3/.vs/TP3
/TP3/TP3/obj
/TP3/TP3/bin/Debug/net5.0
