<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IParticipantService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8700/TP3/ConferenceService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParticipantService"
                contract="ServiceReference1.IParticipantService" name="BasicHttpBinding_IParticipantService" />
        </client>
    </system.serviceModel>
</configuration>